.user {
  display: flex;
  align-items: center;
  background: rgba(243, 244, 246, 1);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  z-index: 2;
}

.user b {
  margin-right: 5px;
}

.userAvatar {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userPhoto {
  max-height: 100px;
  max-width: 100px;
  border-radius: 100px;
  margin-right: 10px;
}

.selectedPage {
  font-weight: bold;
}