.formcontrol.error input,
.formcontrol.error textarea
{
    border-color: solid red 2px;
}

.formcontrol.error span
{
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: rosybrown;
}