.header img {
  width: 20px;
}

.header {
  grid-area: h;
  background-color: #FFF;
  padding: 10px 30px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.loginBlock {
  display: flex;
  align-content: center;
}

.loginBlock a {
  color: #808080;
  text-decoration: none;
  margin-top: 10px;
  font-weight: 500;
}