.navbar {
  background-color: none;
  height: 80px;
  width: 250px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;

}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.menu-bars svg {
  color: #585757 !important;
}

.nav-menu {
  background-color: #FFFF;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  cursor: pointer;
}

.nav-text a {
  text-decoration: none;
  color: #585757;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  font-weight: 600;
}

.nav-text a:hover {
  background-color: #f3f4f6;
}

.nav-text svg {
  color: #585757 !important;
  font-size: 20px;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #FFFF;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}



.nav-profile svg {
  color: #2563eb !important;
}

.nav-messages svg {
  color: #f59e0b !important;
}

.nav-users svg {
  color: #ef4444 !important;
}

.nav-news svg {
  color: #3b82f6 !important;
}

.nav-music svg {
  color: #10b981 !important;
}

.nav-settings svg {
  color: #2563eb !important;
}